* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #666666;
    background-color: #4D4DFF;
}
h1 {
    font-size: 2em;
    color: #333;
    text-transform: uppercase;
}
p {
    font-size: 1.1em;
}

a {
    color: #e5e5e5;
    text-decoration: none;
}

.flex-container {
    display: flex;
}

/* box esquerdo e direito*/
.container-lr {
    width: 27%;
    height: 15em;
    background-color: #e1e1e5;
    margin: auto 0;
    text-align: center;
}
.left {
    width: 5%;
}
.cas {
    width: 24%;
    height: 22.5em;
    padding: 2em 0 0 0;
}
.casleft {
    width: 5%;
    height: 22.5em;
}
.lr-item {
    width: 80%;
    margin: 6em auto;
}

/* fim box esquerdo e direito */
.box {
    display: flex;
    width: 50%;
    height: auto;
    margin: 5em auto;
}

/* main */
.main {
    width: 69%;
    height: 100%;
}
.meio-circulo {
    width: 4em;
    height: 2em;
    border-radius: 100px 100px 0 0;
    background-color: white;
    margin: auto;
}
.container {
    background-color: white;
    width: 100%;
    height: 100%;
}
.header-logo {
    width: 3.8em;
    height: 3.5em;
    margin: auto;
}
.logo {
    position: relative;
    top: -30px;
}
.header-titulo {
    text-align: center;
    margin: 0 0 1em 0;
}
.form-main {
    padding: 0 2em 1em 2em;
}
.formulario {
    flex-direction: column;
}
.form-button {
	border: none;
	background-color: #4D4DFF;
	color: #e5e5e5;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.5em auto 0 auto;
	border-radius: 3em;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s;
}
.form-input {
	background-color: rgba(80, 169, 241, 0.3);
	width: 100%;
	height: 2.5em;
	margin: 0.3em 0 1.3em 0;
	padding: 0.2em 0 0 0.5em;
	border-radius: 2em;
	border: solid rgb(65, 162, 242, 0.5) 0.15em;
}
.sair {
    width: auto;
    text-align: right;
}
.sair a{
    color: #666666;
}
.mensagem{
    text-align: center;
    margin-top: 0.5em;
}

/* img admin e user */
.tipo-user{
    width: 50%;
    height: auto;
    color: #424242;
    text-align: center;
    margin-bottom: 1em;
}
.icon-tipe-user {
    width: 30%;
    height: auto;
    margin: auto;
}
/* fim img admin e user */

/* fim main */

/* animaçoes/efeitos */
.form-button:hover {
    background-color: rgb(0, 0, 255);
    box-shadow: 0.3em 0.3em 0.2em rgb(51, 51, 51, 0.5);
}
.form-button:active {
    background-color: rgb(98, 98, 255);
    box-shadow: 0.1em 0.1em 0.1em rgb(51, 51, 51, 0.5); 
    outline: none;
}
input:focus {
    background-color: rgba(56, 168, 248,0.2);
    outline: none;
}
button:focus {
    outline: none;
}
/* fim animaçoes/efeitos */

/* breakpoints */
@media screen and (max-width:1366px) {
    .box {
        width: 60%;
    }
}
@media screen and (max-width:1120px) {
    .box {
        width: 70%;
    }
}
@media screen and (max-width:920px) {
    p {
        font-size: 1em;
    }
    .box {
        width: 80%;
        margin: 5em auto;
    }
}
@media screen and (max-width:768px) {
    h1 {
        font-size: 1.6em;
    }
    .box {
        width: 90%;
    }
}
@media screen and (max-width:582px) {
    .bt-login a {
        font-size: 0.7em;
    }
    .sair a {
        font-size: 0.8em;
    }
}
@media screen and (max-width:520px){
    h1 {
        font-size: 1.4em;
    }
    p {
        font-size: 0.9em;
    }
    .box {
        margin: 3.5em auto;
    }
}
@media screen and (max-width:320px) {
    .box {
        width: 95%;
        margin: 1em auto;
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.8em;
    }
}