@{
    ViewBag.Title = "Empresa";
    Layout = "MasterPageDeslogado";
}

<div class="titulo">
    <div class="titulo-item">
        <h2>Sobre Nós</h2>
    </div>
</div>
    
<main>
    <section class="empresaCF">
        <div class="empresa-item">
            <img src="/imagem/senai.jpg" alt="Foto da frente da empresa CarFel.">
            <h1>CarFel</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </div>
    </section>
    <section class="caracteristicas espacamento">
        <div class="caracteristicas-img flex-container flex-container-colum">
            <img src="/imagem/missao.png" alt="Icone de missões em forma de prancheta." class="caract-circles">
            <img src="/imagem/visao.png" alt="Icone de visão em forma de gráfico." class="caract-circles">
            <img src="/imagem/valores1.png" alt="Icone de valores em forma de estrela." class="caract-circles">
        </div>
        <div class="barra-caract"></div>
        <div class="caracteristicas-item flex-container flex-container-colum">
            <div class="caracteristicas-caixa">
                <h2>Missão</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
            </div>
            <div class="caracteristicas-caixa">
                <h2>Visão</h2>
                <p>At vero eos et accusamus et iusto odio dignissimo spraesentium voluptatte non provident</p>
            </div>
            <div class="caracteristicas-caixa">
                <h2>Valores</h2>
                <p>But I must explain to you how all this mistaken idepraising pain was, praising pain was</p>
            </div>
        </div>
    </section>
    <section class="historico flex-container">
        <div class="flex-container timeline-block timeline-ajust-margin-top-ajust">
            <div class="timeline flex-container">
                <div class="timeline-item">
                    <img src="/imagem/historico1.jfif" alt="Imagem da antiga construção da empresa CarFel.">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipi mod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                </div>
                <div class="timeline-item-texto">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad mi imveniam, quis.ll</p>
                </div>
                <div class="time-quadrado"></div>    
            </div>
            <div class="timeline flex-container">
                <div class="timeline-item">
                    <img src="//imagem/historico3.jpg" alt="Imagem do antiga escritorio da empresa CarFel.">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipi mod tincidunt ut laoreet dolore magna</p>
                </div>
                <div class="timeline-item-texto">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad mi imveniam, quis.</p>
                </div>              
                    <div class="time-quadrado"></div>   
            </div>  
        </div>
        <div class="linha-vertical flex-container">
            <div>
                <div class="linha-bola"></div>
            </div>
            <div>
                <div class="linha-bola"></div>
            </div>
        </div>
        <div class="flex-container timeline-block timeline-ajust-margin-top">
            <div class="timeline flex-container">
                <div class="time-quadrado-left"></div>
                <div class="timeline-item-texto">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad mi imveniam.</p>
                </div>
                <div class="timeline-item timeline-ajust-margin">
                    <img src="/imagem/historico2.jpg" alt="Imagem da antiga construção interna e do maquinario da empresa CarFel.">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipi mod tincidunt ut laoreet dolore magna aliquam erat</p>
                </div>
            </div> 
            <div class="timeline flex-container">
                <div class="time-quadrado-left"></div>
                <div class="timeline-item">
                    <img src="/imagem/historico4.jpg" alt="Imagem da antiga recepção da empresa CarFel.">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipi mod tincidunt ut laoreet dolore magna aliquam erat volutpat sed diam nonummy nibh euismod</p>
                 </div>
                <div class="timeline-item-texto">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad mi im Lorem ipsum dolor sit amet</p>
                </div>                   
            </div>
        </div>
    </section>
    <div class="botao-contato">
        <button><a href="/Pagina/Contato">Fale conosco ></a></button>
    </div>
</main>