@using Projeto_CarFel_CheckPoint_Web.Models;

@{
    ViewBag.Title = "Check Point";
    
    UsuarioModel usuario = ViewBag.UsuarioLog;

    if (usuario == null)
    {
        Layout = "MasterPageDeslogado";
    }
    else
    {
        Layout = "MasterPageLogado";    
    }
}

<div class="banner flex-container">
    <div class="escuro"></div>	
	<div class="banner-item">	
    	<h2>Marque o ponto na sua empresa<br>pela internet com CheckPoint</h2>
    	<p>Muito mais rápido e eficiente</p>
    	<div class="banner-contato">
    		<a href="/Pagina/Precos">Assine já</a>
    	</div>
    </div>
</div>
	
<main>
    <section class="produto espacamento">
    	<div class="produto-item">
            <h1>CheckPoint</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
        <div class="produto-img">
			<img src="/imagem/ilustracao.jfif" alt="Imagem representado uma pessoa utilizando o Checkpoint.">
			<div class="barra-fundo"></div>
		</div>
    </section>
    <section class="vantagens">
    	<h2>Por que escolher CheckPoint</h2>
    	<div class="barra"></div>
    	<div class="vantagens-item flex-container">
    		<div>
    			<h3>Facilidade e Rapidez</h3>
                <p>Elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam.</p>
            </div>
            <img src="/imagem/rapidez.png" alt="Icone em forma de relogio representando a velocidade." width="189" height="120">
    	</div>
        <div class="barra"></div>
    		
        <div class="vantagens-item flex-container v-i-a">                				
            <img src="/imagem/segurança.jpg" alt="Icone em forma de cadeado representando a segurança." width="140" height="140">
            <div>
                <h3>Controle e Segurança</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout established fact that a reader will</p>
            </div>
        </div>
    	<div class="barra"></div>
    	<div class="vantagens-item flex-container">
    		<div>
    			<h3>Plataformas</h3>
    			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humou variations of Lorem Ipsum available,</p>
            </div>
            <img src="/imagem/plataforma.png" alt="Icone com nootbook, tablet e celular representando multi-plataformas." width="189" height="120">
    	</div>
    	<div class="barra"></div>
    	<div class="botao-contato">
    		<h3><b>Solicite nosso contato</b></h3>
            <button><a href="/Pagina/Contato">Fale conosco ></a></button>
    	</div>
    </section>
    <section class="empresa-resumo">
    	<div class="empresa">
            <h2>Nossa missão</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            <button><a href="/Pagina/Empresa">Conheça nossa história ></a></button>
        </div>
	</section>
</main>