@{
    ViewBag.Title = "Preços";
    
    if (this.ViewBag.UserLog == null)
    {
        Layout = "MasterPageDeslogado";
    }
    else
    {
        Layout = "MasterPageLogado";    
    }
}

<div class="titulo flex-container">
    <div class="titulo-item">
        <h2>Preçõs</h2>
    </div>
</div>

<main>

    <section class="preços">
        <h1>Facilite o controle de presença na sua empresa ou negocio</h1>
        <div class="flex-container-p">
        <div class="precos-plano flex-container-colum">
            <div class="preços-plano-item">
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet, Lorem Ipsum is simply-random text. </p>
                <div class="valor">
                    <p>R$ 00,00</p>
                </div>
                <p>Por mês</p>
                <button>Assinar</button>
            </div>
            <div class="preços-vantagens-item">
                <h3>Vantagens</h3>
                <p>•Lorem ipsum dolor sit.</p>
                <p>•amet, consectetuer.</p>
                <p>•adipiscing elit, sed.</p>
            </div>
        </div>
            
        <div class="precos-plano flex-container-colum">     
            <div class="preços-plano-item">
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet, Lorem Ipsum is simply-random text.</p>
                <div class="valor"><p>R$ 59,99</p></div>
                <p>Por mês</p>
                <button>Assinar ></button>
            </div>
            <div class="preços-vantagens-item p-v-i">
                <h3>Vantagens</h3>
                <p>•Lorem ipsum dolor sit.</p>
                <p>•amet, consectetuer.</p>
                <p>•adipiscing elit, sed.</p>
                <p>•diam nonummy nibh.</p>
                <p>•euismod tincidunt ut.</p>
                <p>•laoreet dolore dolore.</p>    
            </div>
        </div>
            
        <div class="precos-plano flex-container-colum">    
            <div class="preços-plano-item">
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet, Lorem Ipsum is simply-random text. </p>
                <div class="valor"><p>R$ 99,99</p></div>
                <p>Por mês</p>
                <button>Assinar ></button>
            </div>
            <div class="preços-vantagens-item">
                <h3>Vantagens</h3>
                <p>•Lorem ipsum dolor sit.</p>
                <p>•amet, consectetuer.</p>
                <p>•adipiscing elit, sed.</p>
                <p>•diam nonummy nibh.</p>
                <p>•euismod tincidunt ut.</p>
                <p>•laoreet dolore dolore.</
                <p>•aliquam erat volutpat.</p>
                <p>•Ut wisi enim ad minim.</p>    
            </div>    
        </div>  
        </div>
    </section>

    <div class="preços-contato espacamento">
        <div class="botao-contato">
            <button><a href="/Pagina/Contato">Contato</a></button>
        </div>
        <div class="preços-dados-contato espacamento flex-container">
            <div class="preços-dados-contato-item">
                <h3>Telefone</h3>
                <p>(XX) XXXXX-XXXX</p>
                <p>(XX) XXXXX-XXXX</p>
            </div>      
            <div class="preços-dados-contato-item">
                <h3>E-mail</h3>
                <p>carfelcheckpoint@gmail.com</p>
            </div>
        </div>
    </div>

    <section class="perguntas">
        <h2>Perguntas frequentes</h2>
        <div class="barra"></div>
        <h3>Quais são as minhas opções de pagamento?</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci </p>
        <div class="barra"></div>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.?</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <div class="barra"></div>
        <h3>There are many variations of passages of Lorem Ipsum available?</h3>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
        <div class="barra"></div>
    </section>
    
    <div class="botao-contato">
    	<h3><b>Tire suas dúvidas diretamento conosco</b></h3>
        <button><a href="/Pagina/Contato">Fale conosco</a></button>
    </div>
</main>
