@{
    ViewBag.Title = "Login";
    Layout = "MasterPageCadastroLogin";
}

<div class="container-lr left"></div>
        
<div class="main">
    <div class="meio-circulo"></div>
            
    <div class="container">
        <div class="header-logo">
                <img src="/imagem/logo.png" alt="logotipo CarFel" class="logo">
        </div>
        <div class="header-titulo">
                <h1>Login</h1>
        </div>
        <div class="form-main">
            <form method="post" action="/Usuario/Login" class="formulario flex-container">
                <label>
                    <p>Email:</p>
                    <input type="email" name="email" required class="form-input">
                </label>
                        
                <label>
                    <p>Senha:</p>
                    <input type="password" name="senha" required class="form-input">
                </label>
                      
                <input type="submit" name="enviar" value="Entrar" class="form-button">
            </form>
            <div class="sair">
                <a href="/Pagina/Home">Sair</a>
            </div>
        </div>
    </div>
</div>
        
        <div class="container-lr">
                <div class="lr-item">
                        <p>Não possui uma conta?</p>
                        <button class="form-button bt-login"><a href="/Usuario/Cadastrar">Cadastre-se</a></button>
                </div>
        </div>